@import "/static/styles.css";

.extra-actions {
    position: absolute;
    right: 20px;
    top: 10px;
}

.extra-actions .btn {
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    margin-left: 20px;
    color: white;
}

.extra-actions .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.breadcrumb-item h3 {
    font-size: 24px;
    margin-top: 5px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-black);
}

.stats-container {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    flex-wrap: nowrap; 
    gap: 16px;
}
.stats {
    
    min-width: 220px; 
    position: relative;
    height: 150px;
    width: 20%;
    border-radius: 8px;
    border: 1px solid var(--card-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.stats p {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: steelblue;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.stats-icon {
    position: absolute;
    padding: 5px 10px;
    top: 0;
    right: 0;
    background-color: steelblue;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    color: white;
}

.stats .text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.stats .text h1{
    color: var(--text-color);
    font-family: "Sans-serif";
    text-align: center;
    margin-top: 20px;
    
}

.stats h3{
    position: absolute;
    font-family: "Sans-serif";
    bottom: -8px;
    left: 0;
    height: 30px;
    font-weight: 700;
    padding: 2px 8px;
    border-top-right-radius: 10px;
    border-top: 1px solid var(--card-border);
    border-right: 1px solid var(--card-border);
    font-size: 20px;
    color: var(--icon-color);
}

.diagram-container{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 96%;
    margin: 0 auto;
}
.diagram-container .days-info,
.diagram-container .classes-info{
    position: relative;
    border-radius: 14px;
}

.diagram-container .days-info h4,
.diagram-container .classes-info h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); 
    text-align: center;
    font-weight: 700;
    color: var(--icon-color);
}

.diagram-container .days-info canvas{
    width: 100%;
    height: 320px;
}
.diagram-container .classes-info canvas{
    width: 40%;
    gap: 20px;
    height: 320px;
}

@media (max-width: 768px) {
    .extra-actions .btn {
        margin-top: 80px;
        margin-left: 30px;
    }
    .extra-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1100px){
    .stats-container{
        margin-top: 30px;
        flex-wrap: wrap;              
        justify-content: center;
        height: auto;                 
        padding: 0 16px;
    }
    .stats{
        width: 320px;                 
        height: 150px;
    }
    .diagram-container .days-info h4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -120%); 
        text-align: center;
        font-weight: 700;
        color: var(--icon-color);
        font-size: 16px;
    }
    .diagram-container{
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;              
        height: auto;
        justify-content: center;
        padding: 0 10px;
    }
    .diagram-container .days-info{
        max-height: 600px;
        width: 100%;
        max-width: 900px;
    }
    .diagram-container .classes-info{
        width: 100%;
        max-width: 300px;
    }
    
    .diagram-container .days-info canvas{
        width: 100% !important;
        height: auto !important;
    }
    .diagram-container .classes-info canvas{
        width: 100% !important;
        height: 280px !important;
    }
}

